aioredis==1.2.0
asgiref==3.2.1
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.8.1
Automat==0.7.0
beautifulsoup4==4.9.0
cachetools==4.1.0
certifi==2020.4.5.1
cffi==1.12.3
channels==2.2.0
channels-redis==2.4.0
chardet==3.0.4
click==7.1.2
constantly==15.1.0
cryptography==2.7
daphne==2.3.0
Django==2.2.4
Flask==1.1.2
flask-paginate==0.6.0
google==2.0.3
google-api-core==1.17.0
google-auth==1.14.2
google-cloud-vision==1.0.0
googleapis-common-protos==1.51.0
grpcio==1.28.1
hiredis==1.0.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
msgpack==0.6.1
numpy==1.18.3
opencv-python==4.2.0.34
protobuf==3.11.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
PyHamcrest==1.9.0
pytz==2019.2
requests==2.23.0
rsa==4.0
six==1.12.0
soupsieve==2.0
sqlparse==0.3.0
Twisted==19.7.0
txaio==18.8.1
urllib3==1.25.9
websockets==8.0.2
Werkzeug==1.0.1
zope.interface==4.6.0
gunicorn
